<Textarea @value={{this.text}} @maxlength={{this.max}}/>
<div class="bs-alert alert-info">{{this.size}} caractères restants</div>
<button {{action "save"}}>save</button>
<button {{action "clear"}}>clear</button>
